In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("fer2018angryPixelSplit.csv");

In [10]:
df.head(5)

,emotion,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel2295,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304
0,1,70,80,82,72,58,58,60,63,54,...,159,182,183,136,106,116,95,106,109,82
1,1,151,150,147,155,148,133,111,140,170,...,105,108,95,108,102,67,171,193,183,184
2,0,231,212,156,164,174,138,161,173,182,...,104,138,152,122,114,101,97,88,110,152
3,0,24,32,36,30,32,23,19,20,30,...,174,126,132,132,133,136,139,142,143,142
4,0,4,0,0,0,0,0,0,0,0,...,12,34,31,31,31,27,31,30,29,30

In [11]:
df = df.sample(frac=1).reset_index(drop=True)
df = df.set_index("emotion")

In [12]:
df.head(5)

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel2295,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304
emotion,,,,,,,,,,,,,,,,,,,,,
0,41,90,99,104,110,122,126,121,123,130,...,0,0,0,0,0,0,0,7,14,18
0,246,245,244,245,246,244,245,247,245,239,...,53,125,158,167,145,145,164,147,154,171
1,82,78,78,67,76,86,74,77,93,76,...,48,46,26,25,35,62,74,58,54,55
0,95,86,91,85,81,83,88,89,90,88,...,246,213,129,101,102,97,92,90,92,93
0,151,153,155,156,155,157,172,191,203,210,...,76,132,92,63,105,101,46,73,59,46

In [ ]:
df.to_csv("fer2018angryPixelSplitRandomize.csv");