In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fer2018PixelSplit.csv");

In [4]:
df.head(5)

,emotion,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel2295,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304
0,0,70,80,82,72,58,58,60,63,54,...,159,182,183,136,106,116,95,106,109,82
1,0,151,150,147,155,148,133,111,140,170,...,105,108,95,108,102,67,171,193,183,184
2,2,231,212,156,164,174,138,161,173,182,...,104,138,152,122,114,101,97,88,110,152
3,4,24,32,36,30,32,23,19,20,30,...,174,126,132,132,133,136,139,142,143,142
4,6,4,0,0,0,0,0,0,0,0,...,12,34,31,31,31,27,31,30,29,30

In [5]:
df = df.sample(frac=1).reset_index(drop=True)

In [8]:
df.head(5)

,emotion,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel2295,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304
0,2,159,159,159,160,163,168,74,51,59,...,123,48,8,12,19,32,21,21,18,18
1,0,140,82,50,76,101,80,84,114,84,...,41,31,34,36,29,24,28,30,25,21
2,6,63,44,30,45,47,39,28,18,11,...,49,28,62,62,60,64,58,65,68,131
3,6,255,255,255,253,255,216,171,174,182,...,144,144,142,137,120,130,125,113,103,85
4,3,58,64,63,33,28,27,29,28,29,...,62,41,34,33,34,53,42,39,48,43

In [ ]:
outputDf.to_csv("fer2018PixelSplitRandomize.csv");